#sidebar{
    background-color: $primary-color;
    top:0;
    left: 0;
    width: 20%;
    height: 100vh;
    .logo{
        margin-top: 5rem;
        color: white;
        h1{
            margin-left: 0.8rem;
            font-weight: 600;
            font-size: 2.4rem;
        }
    }

    .menu {
        color: white;
        margin-top: 12rem;
        .menu__item{
           opacity: 0.8;
           display: flex;
           justify-content: start;
           align-items: center;
           margin-bottom: 4rem;
           font-weight: 200;
           
           h3{
            font-size: 1.6rem;
            margin-left: 1.2rem ;
            justify-self: center;
           }

           .icon {
                svg {
                    width: 20px;
                    path{
                        fill: white;
                    }
                }
              
           }
           path: {
            fill: $white-color;
           }
           
        }

        .menu__item.active{
            background-image: linear-gradient(to right, red , yellow);
            width: 100%;
        }
    }
}

#content{
    width: 75%;
}



